
/** 1200px oder schmaler */
$breakpoint-lg: 75em!default;

/** 992px oder schmaler */
$breakpoint-md: 62em!default;

/** 768px oder schmaler */
$breakpoint-sm: 48em!default;

/** 576px oder schmaler */
$breakpoint-xs: 22.5em!default;

/** Breakpoints */
@media (max-width: $breakpoint-lg) {}
@media (max-width: $breakpoint-md) {}
@media (max-width: $breakpoint-sm) {}
@media (max-width: $breakpoint-xs) {}