.motivation__column--text {
  float: left;
  width: 33.33%;
}
.motivation__text--heading {
  color: #264750;
}

.motivation__text {
   color: #264750;
}

.motivation__column--image {
  float: left;
  width: 66.66%;
  padding-left: 20%;
  
}

.motivation__image {
  width: 100%;

}