@charset "UTF-8";
/* ================================
   🔧 RESET
================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Jost", sans-serif;
}

/* ================================
   FONTS
================================== */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../assets/fonts/jost/Jost-VariableFont_wght.woff2) format("woff2");
}
/* ================================
   CONTAINER
================================== */
.container {
  width: 90%;
  margin: 0 auto;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
}

/* ================================
   📦 CONTAINER
================================== */
.header {
  height: 40rem;
  position: relative;
}

.header__background {
  position: absolute;
  height: 40rem;
  width: 100%;
  background: url("/src/assets/images/picture/A_HeaderMountain02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__mountains {
  height: 40rem;
  background: url("/src/assets/images/picture/A_HeaderMountain01.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.header__slope {
  height: 10rem;
  background: linear-gradient(-5.71deg, white 49.1%, transparent 50.1%);
  position: absolute;
  width: 100vw;
  height: 10vw;
  bottom: 0;
  left: 10px;
}

@media (min-width: 360px) {
  .header__background,
  .header__mountains {
    height: 17.5rem;
  }
  .header__slope {
    left: -0.75rem;
    width: 104vw;
    bottom: 22.5rem;
    height: 10vw;
  }
}
@media (min-width: 768px) {
  .header__background {
    height: 30rem;
  }
  .headline {
    padding-top: 2.6rem;
  }
  .headline__title {
    font-size: 4.5rem;
  }
  .headline__subtitle {
    font-size: 1.5rem;
  }
  .header__mountains {
    height: 30rem;
  }
  .header__slope {
    left: -0.75rem;
    width: 104vw;
    bottom: 9.5rem;
    height: 14vw;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 45rem;
  }
  .header__background {
    height: 32rem;
  }
  .header__background {
    height: 35rem;
  }
  .header__mountains {
    height: 35rem;
  }
  .header__slope {
    left: -0.75rem;
    width: 104vw;
    bottom: 9.5rem;
    height: 14vw;
  }
}
/* ================================
   NAVIGATION
================================== */
.navigation {
  position: relative;
  z-index: 1;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
}

.navigation__items {
  display: flex;
  gap: 4rem;
  margin-top: 1.5rem;
  margin-right: 36rem;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  color: white;
}

.navigation__link:hover {
  text-decoration: underline;
  text-decoration-color: rgb(0, 226, 156);
  text-underline-offset: 0.25rem;
}

.navigation__icon {
  width: 3.25rem;
  height: 3.25rem;
  fill: currentColor;
  margin-top: 0.75rem;
}

.navigation__icon:hover {
  opacity: 0.5;
}

@media (min-width: 360px) {
  .navigation__items--moblie-hidden {
    display: none;
  }
  .navigation__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media (min-width: 768px) {
  .navigation__icon {
    width: 10rem;
    height: 3.5rem;
  }
}
@media (min-width: 1024px) {
  .navigation__items--moblie-hidden {
    display: flex;
    margin-right: 6rem;
  }
}
@media (min-width: 1200px) {
  .navigation__items--moblie-hidden {
    margin-right: 16rem;
  }
}
/* ================================
   HEADLINE
================================== */
.headline {
  text-align: center;
  margin-top: 2rem;
}

.headline__title {
  font-size: 7rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 8px black;
  line-height: 10rem;
  animation-name: headline__title-font-weight;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.headline__subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: 0 0 8px black;
  letter-spacing: 0.45rem;
  font-weight: 400;
  line-height: 2.25rem;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  animation-name: headline__title-font-weight;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1s;
}

@keyframes headline__title-font-weight {
  0% {
    opacity: 0;
    font-weight: 100;
  }
  100% {
    opacity: 1;
    font-weight: 700;
  }
}
@media (min-width: 360px) {
  .headline {
    padding-top: 2.6rem;
  }
  .headline__title {
    font-size: 1.5rem;
    line-height: 1;
  }
  .headline__subtitle {
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
  }
}
@media (min-width: 576px) {
  .headline {
    padding-top: 2.8rem;
  }
}
@media (min-width: 768px) {
  .navigation__icon {
    width: 10rem;
    height: 3.5rem;
  }
  .headline {
    padding-top: 2.6rem;
  }
  .headline__title {
    font-size: 4.5rem;
  }
  .headline__subtitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .headline {
    padding-top: 5.2rem;
  }
}
@media (min-width: 1400px) {
  .headline {
    padding-top: 6rem;
  }
}

/*# sourceMappingURL=main.css.map */
