@use "../../abstracts" as *;

.motivation__column--text {
  float: left;
  width: 33.33%;
}
.motivation__text--heading {
  color: $color-primary;
  margin-bottom: 1.75rem;
}
.motivation__text--heading::before {
  content: "";
  width: 3rem;
  height: .25rem;
  background-color: $color-secondary;
  display: block;
  margin-bottom: 1.5rem;
}
.motivation__text {
   color: $color-primary;
}

.motivation__column--image {
  float: left;
  width: 66.66%;
  padding-left: 20%;
  
}

.motivation__image {
  width: 100%;

}