@use "../abstracts" as *;

/* ================================
   HEADLINE
================================== */
.headline {
  text-align: center;
  margin-top: 2rem;
  @media (min-width: $breakpoint-xs) {
    padding-top: 2.6rem;
  }
  @media (min-width: $breakpoint-xs) {
    padding-top: 2.8rem;
  }
  @media (min-width: $breakpoint-sm) {
    padding-top: 2.6rem;
  }
  @media (min-width: $breakpoint-lg) {
    padding-top: 5.2rem;
  }
  @media (min-width: $breakpoint-lg) {
    padding-top: 6rem;
  }
}
.headline__title {
  font-size: 7rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 8px black;
  line-height: 10rem;
  padding-top: .5rem;
  animation-name: headline__title-font-weight;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1s;
  @media (min-width: $breakpoint-xs) {
    font-size: 1.5rem;
    line-height: 1;
    padding-top: 0;
  }
  @media (min-width: $breakpoint-sm) {
    font-size: 4.5rem;
  }
}
.headline__subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: 0 0 8px black;
  letter-spacing: 0.45rem;
  font-weight: 400;
  line-height: 2.25rem;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;

  animation-name: headline__title-font-weight;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1s;
  @media (min-width: $breakpoint-xs) {
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
  }
  @media (min-width: $breakpoint-sm) {
    font-size: 1.5rem;
  }
}
@keyframes headline__title-font-weight {
  0% {
    opacity: 0;
    font-weight: 100;
  }
  100% {
    opacity: 1;
    font-weight: 700;
  }
}




